.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
hr{
  box-shadow: 2px 2px 2px 2px lightgrey;

}

.spin-effect:active {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-left: 5%;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #393186  !important;
  border-color: #393186!important;
}
.page-link {
  position: relative;
  display: block;
  color: #393186;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-link:hover {
  z-index: 2;
  color: white  !important;
  background-color: #393186;
  border-color: #393186;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-left: 15%;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff!important;
    background-color: #393186 ;
    border-color: #393186;
  }
  .page-link {
    position: relative;
    display: block;
    color: #393186;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .page-link:hover {
    z-index: 2;
    color: #393186;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
 }
